/* frontend/src/App.css */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

strong {
  display: block;
}
